.hero__wrapper {
  width: auto;
    max-height: 100vh;
  padding-top: 140px;
  padding-left: 6rem;
}

.hero__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero__content {
  max-width: 450px;
}

.hero__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero__title-span {
  display: inline-block;
  position: relative;
}

.hero__title-span::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #17bf9e
;
}

.hero__text {
  font-size: 18px;
  line-height: 1.8;
  color: #555;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.search__input {
  flex-grow: 1;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search__button {
  background-color: #17bf9e
;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search__button:hover {
  background-color: #008ba3;
}

.floating-div {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.flatten-div {
  width: 60px;
  height: 60px;
  background-color: #17bf9e
;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-div:hover {
  cursor: pointer;
}

.floating-div img {
  max-width: 100%;
}

.crown {
  width: 50px;
  margin-right: 10px;
}

.thumbup {
  width: 30px;
  margin-right: 10px;
}
@media only screen and (max-width: 768px) {
  .hero__wrapper {
  padding-left: 3rem;
  }
  
  .hero__title {
  font-size: 36px;
  margin-bottom: 10px;
  }
  
  .hero__title-span::after {
  bottom: -4px;
  }
  
  .hero__text {
  font-size: 16px;
  }
  
  .search {
  flex-direction: column;
  }
  
  .search__input {
  margin-bottom: 10px;
  }
  
  .floating-div {
  width: 60px;
  height: 60px;
  }
  }
  
    /* .hero__wrapper {
    width: auto;
    max-height: 70vh;
    padding-top: 140px;
    padding-left: 6rem;
    } */
  
  .hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  }
  
  .hero__content {
  max-width: 450px;
  }
  
  .hero__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  }
  
  .hero__title-span {
  display: inline-block;
  position: relative;
  }
  
  .hero__title-span::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #17bf9e;
  }
  
  .hero__text {
  font-size: 18px;
  line-height: 1.8;
  color: #555;
  }
  
  .search {
  display: flex;
  align-items: center;
  margin-top: 40px;
  }
  
  .search__input {
  flex-grow: 1;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  }
  
  .search__button {
  background-color: #17bf9e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  }
  
  .search__button:hover {
  background-color: #008ba3;
  }
  
  .floating-div {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .flatten-div {
  width: 60px;
  height: 60px;
  background-color: #17bf9e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .floating-div:hover {
  cursor: pointer;
  }
  
  .floating-div img {
  max-width: 100%;
  }
  
  .crown {
  width: 50px;
  margin-right: 10px;
  }
  
  .thumbup {
  width: 30px;
  margin-right: 10px;
  }